/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */
  
  
  /* ===========================BASE STYLE ======================= */
  
  body{
    font-family:'Source Sans Pro', sans-serif;
    color:#14213d;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style-type: none;
  }
 
  input{
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    }

  /* =========================HEADER=============================== */
  .header-wrapper {
    padding: 32px 32px 0 32px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .mobile-menu i {
    font-size: 48px;
    color: #fca311;
  }
  
  .logo {
    width: 100px;
    height: 100px;
  }
  
  .logo img {
    width:100%;
    height:auto;
  }
  
  .links {
    box-sizing: border-box;
    display: none;
    width: 100vw;
    height: 200px;
    background: white;
    position: absolute;
    top: 148px;
    left: 0;
    padding: 32px;
  }
  
  .link a {
    color: #fca311;
    font-size: 18px;
    font-weight: 700;
  }
  .link {
    padding-bottom: 16px;
  }
  
  .say-hi {
    display:none;
  }

  /* ============================main======================== */
  .form-headline {
      text-align: center;
  }

  form {
      display: flex;
      flex-flow: column nowrap;
      width:80%;
      max-width: 450px;
      margin: 0 auto;
  }

  label {
      margin: 24px 0 8px 0;
      font-style: italic;
      font-weight: 300;
  }

  .name, .email {
      height:30px;
      border: 1px solid #e5e5e5;
      border-radius: 5px;
  }

  select {
      height:35px;
      border: 1px solid #e5e5e5;
      border-radius: 5px;
  }

  textarea {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
  }

  button {
     
     font-size: 18px;
     font-family:'Bebas Neue', cursive;
     background-color: #fca311;
     height:32px;
     width: 100px;
     margin: 24px 0;
     border:none;
     color: #14213d;
     cursor: pointer;
     border-radius:5px;
  }

  hr {
      border-top: 1px solid #fca311;
  }

  @media only screen and (min-width:768px) {

    .header-wrapper {
        justify-content: flex-start;
    }
    .mobile-menu {
        display: none;
    }

    .links {
        padding:0;
        display:block;
        position: relative;
        top:auto;
        left:auto;
        width:auto;
        height:auto;
        background-color: transparent;
    }

    .links ul {
        display: flex;
        flex-flow: row wrap;
    }

    .links ul li {
        padding: 16px;
    }

    .link a {
        font-size: 14px;
    }

    .form-headline {
        display:flex;
        flex-flow: row nowrap;
        align-items: center;
    }
    hr {
        flex:30%;
    }

    .form-headline h2 {
        width: 310px;
    }
  }

  @media only screen and (min-width:1200px) {
      .header-wrapper {
          max-width: 1200px;
          margin: 0 auto;
      }
      .main-wrapper {
          max-width: 1200px;
          margin: 0 auto;
      }
  }